<br>
<br>
<div class="text-center py-3">
    <h1>Categories</h1>
</div>
<p *ngIf="!data"><em>Loading...</em></p>
<div class="example-container mat-elevation-z8" *ngIf="data">
    <table mat-table [dataSource]="data" class="mat-elevation-z8" >
          <!-- description Column -->
       <ng-container matColumnDef="id" >
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element" > {{element.id}} </td>
      </ng-container>
       <!-- Position Column -->
       <ng-container matColumnDef="name" >
         <th mat-header-cell *matHeaderCellDef> Name </th>
         <td mat-cell *matCellDef="let element" > {{element.name}} </td>
       </ng-container>
     
       <!-- Name Column -->
       <ng-container matColumnDef="description" >
         <th mat-header-cell *matHeaderCellDef> Description </th>
         <td mat-cell *matCellDef="let element" > {{element.description}} </td>
       </ng-container>
     
     
     
  
    
        <ng-container matColumnDef="action">
          <tr><th mat-header-cell *matHeaderCellDef> Action </th></tr>
          <tr>
            <td mat-cell *matCellDef="let row" style="width:20%">
              <button mat-icon-button color="primary"  title="Edit Contact"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="primary"  title="Delete Contact"><mat-icon>delete</mat-icon></button> 
            </td>
          <tr>
        </ng-container>
     
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
  </div>